%# -*- html -*-
% global theme
<html>
[include header.inc]
<body>
[include navbar.inc]

<div class="container">
	<div class="row">
<h1>Resources</h1>

<div>
<ul>
<li><a href="userpages.html">Custom web pages</a>
<li><a href="dbus.html">Using DBus</a>
<li><a href="print.html">Getting gateway settings</a>
<li><a href="http://otgw.tclcode.com/">OTGW Website</a>

</ul>
</div>
</div>
</div>
<!--[include footer.inc]-->
</body>
</html>
