% global message
<html>
[include header.inc]	
<body>
[include navbar.inc]
	  
<div class="container">
	<div class="row">
<h1>Msg Dump</h1>	
<table class="table table-hover table-bordered table-striped table-condensed">
% foreach n [lsort -dictionary [array names message]] {
<tr><td>$n</td><td>$message($n)</td></tr>
% }
</table>

</div>
</div>
</body>
</html>