/* My style css */
/* Karla,Exo,Coda,Voces,Droid Sans,Roboto   */
@import "http://fonts.googleapis.com/css?family=Roboto";

body {
	background-color: #FFFFFF;	
	font-family: 'Roboto','Arial Narrow',sans-serif;
	padding-top: 44px; 
}

/*
 * navbar
 */
.navbar {
	background: #f5f5f5; /* for non-css3 browsers */
	border-bottom:1px solid #CCCCCC;	
	
	/*box-shadow: 0px 5px 10px 0px rgba(204, 204, 204, 0.75);*/
}
.icon-bar {
   background-color:#428bca 
}


h1 {
    font-size: 28px;
    font-weight: bold;
	color: #000000;
	border-bottom: 1px solid #CCCCCC;
}

h2 {
    font-size: 22px;
	color: #000000;
	border-bottom: 1px solid #CCCCCC;
}

h3{
    font-size: 18px;
	color: #000000;
	
}

img.checkclr {
  background-image:url('images/check-clr.png');
}
img.checkset {
  background-image:url('images/check-set.png');
}
img.checkunk {
  background-image:url('images/check-unk.png');
}